python-dotenv
streamlit
fastapi
uvicorn
pydantic
requests
llama-index-core
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
llama-parse
chromadb
tavily-python
tiktoken
google-generativeai
pytest
httpx