fastapi
uvicorn
pydantic
requests
python-dotenv
streamlit
llama-index
llama-parse
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
chromadb
tavily-python
langsmith
tiktoken
google-generativeai
transformers
torch
accelerate
pytest
httpx

